{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROJET-FORUM</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="/assets/img/LOGO_YNOV.png">
        <nav>
            <ul class="links">
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <div class="container4">
            <input type="search" id="search" value="" onchange="ouvrirPage()">
            <input type="button" id="button" onclick="ouvrirPage()" value="Chercher">
            <a class="buttonlogin">{{.Buttons.Auth}}</a>
        </div>
    </div>

    <div class="welcome">
        <h1>Welcome to the project forum</h1>
    </div>

    <div class="post">
        <a class="create_post" href="/create"><h3>Star a Discussion</h3></a>
            <ul class="links2">
                <li><a href="#"></a>All Discussions</li>
                <li><a href="#"></a>Tags</li>
                <li><a href="#"></a>tags1</li>
                <li><a href="#"></a>tags2</li>
                <li><a href="#"></a>tags3</li>
            </ul>
    </div>

    <div class="discussion">
        <h3>(Button latest discussions)</h3>
        <p>test</p>
        {{template "posts" .}}
    </div>


</body>
</html>

{{end}}

