{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PROJET-FORUM</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="navbar">
        <img class="logo" src="/assets/img/LOGO_YNOV.png">
        <nav>
            <ul class="links">
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <div class="container4">
            <input type="search" id="search" value="" onchange="ouvrirPage()">
            <input type="button" id="button" onclick="ouvrirPage()" value="Chercher">
            <a class="buttonlogin">{{.Buttons.Auth}}</a>
        </div>
    </div>

    <div class="welcome">
        <h1>Welcome to the project forum</h1>
    </div>

    <div class="post">
        <a class="create_post" href="/create">
           <h3 href="/create">Star a Discussion</h3></a>
        </a>
        <ul class="links2">
            <li>
                <form action="/" method="get">
                    <button name="all" value="all">All posts</button>
                </form>
            </li>
            <li>
                <form action="/filter/posted" method="post">
                    <button name="posted" value="posted">My posts</button>
                </form>
            </li>
            <li>
                <form action="/filter/liked" method="post">
                    <button name="liked" value="liked">Liked Posts</button>
                </form>
            </li>
            <li>
                <form action="/filter/JavaScript" method="post">
                    <button name="Js" value="JavaScript">JavaScript</button>
                </form>
            </li>
            <li>
                <form action="/filter/C" method="post">
                    <button name="C" value="C">C</button>
                </form>
            </li>
            <li>
                <form action="/filter/CSS" method="post">
                    <button name="CSS" value="CSS">CSS</button>
                </form>
            </li>
            <li>
                <form action="/filter/HTML" method="post">
                    <button name="HTML" value="HTML">HTML</button>
                </form>
            </li>
            <li>
                <form action="/filter/C++" method="post">
                    <button name="C++" value="C++">C++</button>
                </form>
            </li>
            
        </ul>
    </div>

    <div class="discussion">
        {{template "posts" .}}
    </div>


</body>

</html>

{{end}}