{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROJET-FORUM</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="/assets/img/LOGO_YNOV.png">
        <nav>
            <ul class="links">
                <li><a href="/">Home</a></li>
                {{.Buttons}}
            </ul>
        </nav>
        <a class="contact" href="#"><button>Contact</button></a>
    </div>

    <div class="post">
        <a class="create_post" href="/create"><h3>New post +</h3></a>
    </div>

    {{template "posts" .}}

</body>
</html>

{{end}}

