{{define "posts"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/postview.css">
</head>

	<head>
	<title></title>
	</head>
	<body>
		

	
		{{range .Posts}}
		
		<a href="/post/{{.Id}}" >
        <h3>{{.Title}}</h3>
		</a><br>
		{{.Content}}<br>
		{{.Categories}}
		Posted by {{.Author}}<br>
		<p>Likes: {{.Likes}} Dislikes: {{.Dislikes}}</p><br>
		
        {{end}}
		
	</body>
</html>


{{end}}